@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700);
@import url(https://fonts.googleapis.com/css?family=Fraunces:700);
:root {
	--white: 255, 255, 255;
	--cream: 242, 235, 227;
	--grey: 133, 133, 133;
	--dark-cyan: 60, 128, 103;
	--active-button: 26, 64, 49;
	--very-dark-blue: 28, 35, 43;
	--dark-grayish-blue: 108, 114, 137;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	overflow-x: hidden;
	background: rgb(var(--cream));
}
.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.flex-item {
	width: 20%;
	height: 65%;
}
.flex-item-left {
	border-radius: 0.75rem 0 0 0.75rem;
	background-color: transparent;
}
.product-image,
.product-image > img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.flex-item-right {
	padding: 1.5rem;
	border-radius: 0 0.75rem 0.75rem 0;
	background-color: rgb(var(--white));
}
.product-type {
	padding: 0.25rem 0 0 0;
	font-size: 0.75rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}
.main-heading {
	margin: 0.5rem 0;
	font-size: 2rem;
	line-height: 2.5rem;
}
.product-description {
	font-size: 1rem;
	line-height: 1.5rem;
}
.price-container {
	display: flex;
	margin: 1rem 0;
	align-items: center;
}
.main-price {
	font-size: 2rem;
	margin-right: 1.5rem;
	color: rgb(var(--dark-cyan));
}
.old-price {
	font-size: 0.75rem;
	text-decoration: line-through;
}
.add-to-cart {
	width: 100%;
	height: 2.5rem;
	border: none;
	display: flex;
	border-radius: 0.5rem;
	align-items: center;
	justify-content: center;
	color: rgb(var(--white));
	background-color: rgb(var(--dark-cyan));
}
.add-to-cart:hover {
	cursor: pointer;
	background-color: rgb(var(--active-button));
}
.add-to-cart > * {
	color: inherit;
	font-size: 1rem;
	padding: 0 0.25rem;
	text-decoration: none;
}
.svg {
	width: 1.75rem;
	height: 1.25rem;
}
.grey-text { color:  rgb(var(--grey)); }
.montserrat { font-family: Montserrat, monospace; }
.fraunces { font-family: Fraunces, serif; }
@media only screen and (max-width: 1024px) {
	.flex-item { width: 35%; }
	.main-heading {
		font-size: 2.25rem;
		line-height: 2.25rem;
		margin: 1.5rem 0;
	}
	.main-price { font-size: 2.25rem; }
	.old-price { font-size: 1rem; }
}
@media only screen and (max-width: 600px) {
	body { margin: 2rem 0; }
	.flex-container { flex-direction: column; }
	.flex-item { width: calc(100% - 2.5rem); }
	.flex-item-left { border-radius: 0.75rem 0.75rem 0 0; }
	.flex-item-right { border-radius: 0 0 0.75rem 0.75rem; }
	.main-heading { margin: 0.5rem 0; }
}